.App {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.App__main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 4em auto;
}

@media only screen and (min-width: 900px) {
  .App__main {
    flex-direction: row;
  }
}



